<footer class="footer">
  <div class="flex-container">
    <div class="flex-item-left"><%= image_tag 'logoT',height:"80px"%></div>
    <div class="flex-item-center">© Copyright 2023. All Rights Reserved.</div>
    <div class="flex-item-right">
      <a href="#"><i class="fa fa-facebook icon-spacing" style="font-size:36px ;color:blue;"></a></i>
      <a href="#"><i class="fa fa-instagram icon-spacing" style="font-size:36px;color:red;"></a></i>
      <a href="#"><i class="fa fa-linkedin icon-spacing" style="font-size:36px;color:lightblue;"></a></i>
      <a href="#"><i class="fa fa-github icon-spacing" style="font-size:36px;color:black;"></a></i>
    </div>
  </div>
</footer>
