<div >

<br><center>




  <div>
<h2 class="text-border">Get the Diagnosis done online!!! </h2>
</div>
<br><br></center>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card ">
      <div class="card-body card1">
        <h5 class="card-title  text-border">Diabetes Prediction</h5>
        <p class="card-text">Our diabetes testing has always made people happy!!!</p>
        <a href="#" class="btn btn-primary">Predict</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body card2">
        <h5 class="card-title text-border">Brain stroke Prediction</h5>
        <p class="card-text">Our Model predicts brain stroke with 95% accuracy!!!</p>
        <a href="#" class="btn btn-primary">Predict</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body card3">
        <h5 class="card-title text-border">Heart Disease Prediction</h5>
        <p class="card-text">Take care of youe heart before it is tired!!!</p>
        <a href="#" class="btn btn-primary">Predict</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6"id="get">
    <div class="card">
      <div class="card-body card4">
        <h5 class="card-title text-border">General Disease Prediction</h5>
        <p class="card-text">Predcit any disease with our model by providing your symptoms!!!</p>
        <a href="#" class="btn btn-primary">Predict</a>
      </div>
    </div>
  </div>
</div>


<br>

</div>

<%= render 'partials/footer' %>
